
footer{
  background-color: var(--dark-color);
  padding-right: 1rem;
}

footer .social>a{
  color:var(--white-color);
  opacity: 0.75;
}

footer .social>a:hover{
  color:var(--secondary-color);
  opacity: 0.9;
}

.sticky-footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
}